<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    <button (click)="launchGame()" [disabled]="gameLaunched">Taupe this !!!</button>
    <p>Score : {{scoreCurrent}}</p>
    <p *ngIf="this.gameLaunched === false && this.victory">{{victory}}</p>
  </h1>
</div>

<div *ngFor="let caseValue of cases; let indexCase = index" class="square" (click)="this.clickCase(caseValue, indexCase)" [ngStyle]="{'background-color': caseValue ? 'green' : 'red'}"> </div>
